footer {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
}

.desplegable {
    background-color: black;
    padding: 20px;
    text-align: right;
    color: white;
}

 {
    background-color: aquamarine;
}

.tarjeta {
    background-color: aliceblue;
}